@import url('reset.less');
@blue-bg: #1d365d;
@white-bg: #fbf5f3;
@white-text: #fbf5f3;
@black-text: #000022;
@max-width: 1280px;
@base-url: "../images";
@base-padding: 0 15px;

// mixin 
.font-face (@fontname, @fontfile) {
    @font-face {
        font-family: '@{fontname}';
        src: url('../fonts/@{fontfile}.eot');
        src: url('../fonts/@{fontfile}.eot?#iefix') format('embedded-opentype'),
        url('../fonts/@{fontfile}.woff') format('woff'),
        url('../fonts/@{fontfile}.ttf') format('truetype'),
        url('../fonts/@{fontfile}.svg#@{fontname}') format('svg');
        font-weight: normal;
        font-style: normal;
    }
}

.baseWidth(@width:1280px, @margin: 0 auto, @padding: @base-padding){
    width: @width;
    margin: @margin;
    padding: @base-padding;
}

.baseFont(@font-size:16px, @color:@black-text, @font-family:'Exo2-Regular', @line-height: 25px ){
    font-size: @font-size;
    color: @color;
    font-family: @font-family;
    line-height: @line-height;
}

.giveWidthHeightBG(@width, @height) {
    width: @width;
    height: @height;
}

.box-sizing(@type: border-box) {
    box-sizing: @type;
    -moz-box-sizing: @type;
    -webkit-box-sizing: @type;
    -ms-box-sizing: @type;
}

.gradient(@startColor, @endColor) {
	background-color: @startColor;
	background: -webkit-gradient(linear, top, bottom, from(@startColor), to(@endColor));
	background: -webkit-linear-gradient(top, @startColor, @endColor);
	background: -moz-linear-gradient(top, @startColor, @endColor);
	background: -ms-linear-gradient(top, @startColor, @endColor);
	background: -o-linear-gradient(top, @startColor, @endColor);
}

.border-radius(@radius) {
    -webkit-border-radius: @radius;
    -moz-border-radius: @radius;
    border-radius: @radius;
}


.generate-columns(@n, @i: 1) when (@i =< @n) {
  .col-@{i} {
    width: (@i * 100% / @n);
  }
  .generate-columns(@n, (@i + 1));
}


.font-face(Exo2-Regular, Exo2-Regular);

.font-face(PT-Sans-Narrow-Regular, PT_Sans-Narrow-Web-Regular);

* {
    .box-sizing;
}

.generate-columns(4);

.col-33-percent{
    width: 33.33%;
}

.col-66-percent {
    width: 66.66%;
    height: 100%;
}

 .float-left {
    float: left;
    display: block;
    position: relative;
}

.float-right {
    float: right;
    display: block;
    position: relative;
}
[class^="col-"],
[class*=" col-"] {
    display: table;
    position: relative;
    float: left;
}
.btn-sm {
	.gradient(#43759e, #36556e);
    .border-radius(5px);
	padding: 10px 40px;
	display: inline-block;
	font-family: "PT-Sans-Narrow-Regular";
	font-size: 52px;
	color: @white-text;
}
.btn-lg {
    .gradient(#43759e, #36556e);
    .border-radius(5px);
    width: 100%;
    display: block;
    padding: 10px 0;
    font-size: 48px;
    color: @white-text;
    font-family: "PT-Sans-Narrow-Regular";
    text-align: center;
}

.clearfix() {
    zoom: 1;
    &:before,
    &:after {
        content: "";
        display: table;
    }
    &:after {
        clear: both;
    }
}

    .header {
        background: url("@{base-url}/header-bg.jpg") center center no-repeat;
        background-position: 0 100px;
        .giveWidthHeightBG(100%, 800px);
        background-size:100% 100%; 
    }
	.top-navigation {
		background: @blue-bg;
		height: 100px;
        width: 100%;

	}
	.main-navigation {
		width: @max-width;

        padding: @base-padding;
		padding-top: 15px;
		margin: 0 auto;
	}

.logo-less {
	background: url("@{base-url}/logo-less.png");
	width: 32px;
	height: 72px;
	.float-right;
	margin-left: 35px;

}
.wrapper {
    background: @white-bg;
    width: 100%;
}
.wrapper-inner {
    .baseWidth;
    .clearfix();
}
.first {
    height: 390px;
    padding: 30px 0;
    border-bottom: 1px solid @black-text;
    .col-2 {
        height: 350px;
        &:last-child {
            text-align: center;
        }
        img {
            height: 100%;
        }
    }
    p {
        .baseFont;
    }
}
.second {
    height: 390px;
    padding: 30px 0;
    border-bottom: 1px solid @black-text;
    .col-33-percent,
    .col-66-percent {
        height: 350px;
        img {
            height: 100%
        }
    }
    p {
        .baseFont;
        display: table-cell;
        vertical-align: middle;
    }
}
.footer {
    height: 390px;
}
.col-1 {
    height: 100%;
    img {
        position: absolute;
        width: 100%;
        bottom: 60px;
        left: 0;
        right: 0;
    }
}
.col-2 {
    .btn-lg {
        margin-top: 60px; 
    }
}
