html,
body,
div,
span,
object,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
abbr,
address,
cite,
code,
del,
em,
img,
ins,
small,
strong,
sub,
sup,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
dialog,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
body {
  line-height: 1;
}
article,
aside,
dialog,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}
blockquote {
  quotes: none;
}
blockquote:before,
blockquote:after {
  content: '';
  content: none;
}
a {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  text-decoration: none;
  vertical-align: baseline;
  background: transparent;
}
del {
  text-decoration: line-through;
}
abbr[title],
dfn[title] {
  border-bottom: 1px dotted #000;
  cursor: help;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}
input,
select {
  vertical-align: middle;
}
@font-face {
  font-family: 'Exo2-Regular';
  src: url('../fonts/Exo2-Regular.eot');
  src: url('../fonts/Exo2-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/Exo2-Regular.woff') format('woff'), url('../fonts/Exo2-Regular.ttf') format('truetype'), url('../fonts/Exo2-Regular.svg#Exo2-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'PT-Sans-Narrow-Regular';
  src: url('../fonts/PT_Sans-Narrow-Web-Regular.eot');
  src: url('../fonts/PT_Sans-Narrow-Web-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/PT_Sans-Narrow-Web-Regular.woff') format('woff'), url('../fonts/PT_Sans-Narrow-Web-Regular.ttf') format('truetype'), url('../fonts/PT_Sans-Narrow-Web-Regular.svg#PT-Sans-Narrow-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
}
.col-1 {
  width: 25%;
}
.col-2 {
  width: 50%;
}
.col-3 {
  width: 75%;
}
.col-4 {
  width: 100%;
}
.col-33-percent {
  width: 33.33%;
}
.col-66-percent {
  width: 66.66%;
  height: 100%;
}
.float-left {
  float: left;
  display: block;
  position: relative;
}
.float-right {
  float: right;
  display: block;
  position: relative;
}
[class^="col-"],
[class*=" col-"] {
  display: table;
  position: relative;
  float: left;
}
.btn-sm {
  background-color: #43759e;
  background: -webkit-gradient(linear, top, bottom, from(#43759e), to(#36556e));
  background: -webkit-linear-gradient(top, #43759e, #36556e);
  background: -moz-linear-gradient(top, #43759e, #36556e);
  background: -ms-linear-gradient(top, #43759e, #36556e);
  background: -o-linear-gradient(top, #43759e, #36556e);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding: 10px 40px;
  display: inline-block;
  font-family: "PT-Sans-Narrow-Regular";
  font-size: 52px;
  color: #fbf5f3;
}
.btn-lg {
  background-color: #43759e;
  background: -webkit-gradient(linear, top, bottom, from(#43759e), to(#36556e));
  background: -webkit-linear-gradient(top, #43759e, #36556e);
  background: -moz-linear-gradient(top, #43759e, #36556e);
  background: -ms-linear-gradient(top, #43759e, #36556e);
  background: -o-linear-gradient(top, #43759e, #36556e);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  width: 100%;
  display: block;
  padding: 10px 0;
  font-size: 48px;
  color: #fbf5f3;
  font-family: "PT-Sans-Narrow-Regular";
  text-align: center;
}
.header {
  background: url("../images/header-bg.jpg") center center no-repeat;
  background-position: 0 100px;
  width: 100%;
  height: 800px;
  background-size: 100% 100%;
}
.top-navigation {
  background: #1d365d;
  height: 100px;
  width: 100%;
}
.main-navigation {
  width: 1280px;
  padding: 0 15px;
  padding-top: 15px;
  margin: 0 auto;
}
.logo-less {
  background: url("../images/logo-less.png");
  width: 32px;
  height: 72px;
  float: right;
  display: block;
  position: relative;
  margin-left: 35px;
}
.wrapper {
  background: #fbf5f3;
  width: 100%;
}
.wrapper-inner {
  width: 1280px;
  margin: 0 auto;
  padding: 0 15px;
  zoom: 1;
}
.wrapper-inner:before,
.wrapper-inner:after {
  content: "";
  display: table;
}
.wrapper-inner:after {
  clear: both;
}
.first {
  height: 390px;
  padding: 30px 0;
  border-bottom: 1px solid #000022;
}
.first .col-2 {
  height: 350px;
}
.first .col-2:last-child {
  text-align: center;
}
.first .col-2 img {
  height: 100%;
}
.first p {
  font-size: 16px;
  color: #000022;
  font-family: 'Exo2-Regular';
  line-height: 25px;
}
.second {
  height: 390px;
  padding: 30px 0;
  border-bottom: 1px solid #000022;
}
.second .col-33-percent,
.second .col-66-percent {
  height: 350px;
}
.second .col-33-percent img,
.second .col-66-percent img {
  height: 100%;
}
.second p {
  font-size: 16px;
  color: #000022;
  font-family: 'Exo2-Regular';
  line-height: 25px;
  display: table-cell;
  vertical-align: middle;
}
.footer {
  height: 390px;
}
.col-1 {
  height: 100%;
}
.col-1 img {
  position: absolute;
  width: 100%;
  bottom: 60px;
  left: 0;
  right: 0;
}
.col-2 .btn-lg {
  margin-top: 60px;
}
